body{
  background-color: #012634;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #fff00f;
}

p {
  text-align: center;
  color: #ff00ff
}

h2 {
  text-align: center;
  color: #00ff00;
}

.Sitat {
font-weight: bold;
font-style: italic;
font-size: 50px
}

.navn {
  margin-top: 50px
}

.jobbtitel {
  font-style: italic;
}

.bilde {
    width: 200px;
    border-radius: 50%;
    border-color: grey;
    border-width: 4px;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
